<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
    {% load static %}
    <link href="{% static 'C:\Users\drshi\django_static\static\CSS\styles.css' %}" rel="stylesheet">
</head>
<body>
    <center><h1>Kids Gallery</h1></center>
    <img src="{% static 'Image/1.jpg' %}" alt="failed to load">
    <img src="{% static 'Image/2.jpg' %}" alt="failed to load">
    <img src="{% static 'Image/3.jpg' %}" alt="failed to load">
    <img src="{% static 'Image/4.jpg' %}" alt="failed to load">
</body>
</html>