img{
    height: 250px;
    width: 250px;
    margin-top: 40px;
    margin-left: 50px;
    box-shadow: 5px 5px 15px 1px black;
    border-radius: 10px;
}
img:hover{
    box-shadow: 5px 5px 15px 1px blue;
}
h1{
    color: rgb(121, 7, 123);
    margin-top: 30px;
}